

  <main id="main">


    <section id="about" class="about">
      <div class="container-fluid">
      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    
    <div class="section-title">
      <h2>REGISTRO DONANTES</h2>
    </div>

    <section id="counts" class="counts">
      <div class="container">

        <p-accordion [(activeIndex)]="activeAccordionIndex">

          <p-accordionTab header="FICHA DE REGISTRO">
            <app-pg-registroempresa></app-pg-registroempresa>
          </p-accordionTab>
        </p-accordion>
        
      

      </div>
    </section><!-- End Counts Section -->

  
  </main><!-- End #main -->



  