<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Banco de Alimentos Riobamba</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
</head>

<body>


<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <!-- Logo -->
    <a [routerLink]="['/dashpublic/inicio']" class="logo me-auto">
      <img src="assets/img/logo.jpg" alt="Banco de Alimentos Riobamba" >
    </a>

    <!-- Botón Hamburguesa -->
    <div class="menu-toggle" (click)="toggleMenu()">☰</div>

    <!-- Botón Iniciar Sesión -->
    <a [routerLink]="['/dashpublic/pago']" class="appointment-btn">
      <span class="d-none d-md-inline">Donar</span>
    </a>

    <!-- Navegación -->
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link" [routerLink]="['/dashpublic/registroempresa']">Únete Como Fundación</a></li>
      </ul>
    </nav>

    <!-- Botón Iniciar Sesión -->
    <a [routerLink]="['/dashpublic/login']" class="appointment-btn">
      <span class="d-none d-md-inline">Iniciar Sesión</span>
    </a>

  </div>
</header>

<main>
  <router-outlet></router-outlet> <!-- Aquí se cargan los componentes hijos -->
</main>

  <section id="hero" class="d-flex align-items-center">
    <div class="container">
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">

          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">

                </div>


              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">
      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->

    <div class="section-title">
      <h2>DONACIONES</h2>
    </div>

    <section id="counts" class="counts">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="830" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>KITS ENTREGADOS</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="360" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>EN PARROQUIAS</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="210" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>EN FUNDACIONES</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>EN EL FUNDACIÓN FAVORITA</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>EMERGENCIA MANABÍ</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>HIGIENE PERSONAL</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="3.6" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>ALIMENTO ENTREGADO (TON)</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="3.6" data-purecounter-duration="1"
                class="purecounter"></span>
              <p>PESO EN KITS ENTREGADOS (KG)</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>¿QUÉ HACEMOS?</h2>
          <p class="bank-description">La Fundación Favorita.</p>
        </div>

       

      </div>
    </section>

    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
      <div class="container">

        <div class="section-title">
          <h2>NUESTROS BENEFACTORES</h2>
          <p>Apoyamos a fundaciones o Banco de Alimentos en ayuda de los mas necesitados
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/favorita.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>FAVORITA</h4>
                <span>Fundación</span>
              </div>
            </div>
          </div>

         

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>FUNDACIÓN 1</h4>
                <span>DESCRIPCIÓN</span>
              </div>
            </div>
          </div>

        

        </div>

      </div>
    </section><!-- End Doctors Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>FUNDACIÓN FAVORITA</span></strong>. Todos los derechos reservados
        </div>
        <div class="credits">
            Desarrollado por <a href="https://bootstrapmade.com/">AYNI TECH</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>

    </div>
  </footer><!-- End Footer -->






</body>

</html>
