<section id="hero" class="d-flex align-items-center">
  <div class="container">
  </div>
</section>

<main id="main">
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">

        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">

              </div>


            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">
    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->

  <div class="section-title">
    <h2>DONACIONES FEBRERO 2024</h2>
  </div>

  <section id="counts" class="counts">
    <div class="container">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="fas fa-user-md"></i>
            <span data-purecounter-start="0" data-purecounter-end="830" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>KITS ENTREGADOS</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="far fa-hospital"></i>
            <span data-purecounter-start="0" data-purecounter-end="360" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>EN PARROQUIAS</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-flask"></i>
            <span data-purecounter-start="0" data-purecounter-end="210" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>EN FUNDACIONES</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-flask"></i>
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>EN EL FUNDACIÓN FAVORITA</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-flask"></i>
            <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>EMERGENCIA MANABÍ</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-flask"></i>
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>HIGIENE PERSONAL</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-flask"></i>
            <span data-purecounter-start="0" data-purecounter-end="3.6" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>ALIMENTO ENTREGADO (TON)</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-flask"></i>
            <span data-purecounter-start="0" data-purecounter-end="3.6" data-purecounter-duration="1"
              class="purecounter"></span>
            <p>PESO EN KITS ENTREGADOS (KG)</p>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>¿QUÉ HACEMOS?</h2>
        <p>Fundación Favorita es una entidad sin fines de lucro que se encarga de la recepción, selección y
          distribución de alimento proveniente de donaciones de entidades y personas naturales al igual que de los
          excedentes alimentarios que surgen de todo el Sistema Agroindustrial de la provincia, de los cuales en primera
          instancia se levanta información que servirá para ingresar a un proceso de clasificación y almacenamiento
          (temporal) para posterior a ello entregar en las entidades de consumo, reparto y especiales, cumpliendo
          estándares de calidad, seguridad y parámetros nutricionales en cada Kit alimentario.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4><a href="">ACOPIO</a></h4>
            <p>Recogemos el exedente de aliementos en sectores publicos y privados</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4><a href="">CLASIFICACIÓN</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4><a href="">DISTRIBUCIÓN</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Doctors Section ======= -->
  <section id="doctors" class="doctors">
    <div class="container">

        <div class="section-title">
          <h2>NUESTROS BENEFACTORES</h2>
          <p>Apoyamos a fundaciones o Banco de Alimentos en ayuda de los mas necesitados
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/favorita.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>FAVORITA</h4>
                <span>Fundación</span>
              </div>
            </div>
          </div>



          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>FUNDACIÓN 1</h4>
                <span>DESCRIPCIÓN</span>
              </div>
            </div>
          </div>



        </div>
    </div>
  </section><!-- End Doctors Section -->


</main><!-- End #main -->
