

<main id="main">



  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid" style="max-width: 60%; margin: auto;">
    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <div class="section-title" style="margin-bottom: 5px;"> <!-- Ajuste aquí -->
    <h2 style="margin-bottom: 0;">INICIAR SESIÓN</h2> <!-- Ajuste aquí -->
  </div>
  

  <section id="counts" class="counts">
    <div class="container" style="max-width: 50%; margin-top: 5px;"> <!-- Cambié de 40% a 50% -->
      <app-pg-login style="display: block; width: 100%; max-width: 600px; margin: 0 auto;"></app-pg-login>
    </div>
  </section><!-- End Counts Section -->

</main><!-- End #main -->
