<p-tabView styleClass="tabview-custom">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <span>Área de conocimiento</span>
        </ng-template>
        <app-pg-areaconocimiento></app-pg-areaconocimiento>

    </p-tabPanel>
    <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
            <span>Disponibilidad</span>
        </ng-template>
        <app-pg-disponibilidad></app-pg-disponibilidad>

    </p-tabPanel>
    <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
            <span>Estudios</span>

        </ng-template>
        <app-pg-estudios></app-pg-estudios>
    </p-tabPanel>
    <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
            <span>Situación Laboral</span>

        </ng-template>
        <app-pg-situacionlaboralk></app-pg-situacionlaboralk>
    </p-tabPanel>
    <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
            <span>Tipo de Voluntario</span>

        </ng-template>
        <app-pg-tipovoluntario></app-pg-tipovoluntario>
    </p-tabPanel>

</p-tabView>