<div class="inicio-container">
  <div class="logo-section">
    <img src="assets/img/favorita.jpg" alt="Logo FUNDACIÓN FAVORITA" class="logo">
  </div>

  <div class="options-container">

    <div class="icon-box" (click)="navegarDonaciones()">
      <div class="icon">
        <img src="assets/img/donacion.svg" alt="Administración Icono" class="icon-image">
      </div>
      <h4>Registrar nueva donación</h4>
      <p>Añade donaciones y actualiza el inventario fácilmente.</p>
    </div>
    
    

    <div class="icon-box" (click)="navegarReportes()">
      <div class="icon"><i class="fas fa-users"></i></div> 
      <div class="icon">
        <img src="assets/img/pesaje.svg" alt="Administración Icono" class="icon-image">
      </div>
      <h4>Ver historial de donaciones</h4>
      <p>Consulta registros detallados de donaciones anteriores.</p>
    </div>
    

    <div class="icon-box" (click)="navegarBeneficiarios()">
      <div class="icon"><i class="fas fa-handshake"></i></div> 
      <div class="icon">
        <img src="assets/img/beneficiario.svg" alt="Administración Icono" class="icon-image">
      </div>
      <h4>Listado de beneficiarios</h4>
      <p>Administra y consulta información de los beneficiarios.</p>
    </div>
    
  </div>
</div>
